<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/flipclock.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./assets/flipclock.js"></script>


  <title>Shoestrz - Best Shoes Ever</title>
</head>
<body>

  <%= yield %>

  <script src="./assets/flipclock.min.js"></script>
</body>
</html>